{{ define "meta" }}

<head>
	<meta charset="UTF-8">
	<title>
		{{ if .Title }}
		{{ .Title }}
		{{ else }}
		QoS Manager
		{{ end }}
	</title>

	<link rel="icon" href="/static/pictures/favicon.png" type="image/png">
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
	<!-- <link href="/static/css/output.css" rel="stylesheet"> -->
	<script src="/static/js/htmx.js"></script>
</head>
{{ end }}
